.main{
    position: relative;
    height: 100px;
    opacity: 100%;
}
.main-modal{
    display: none;
    position: relative;
    top: -100px;
    height: 100vh;
    height: 100vw;
    opacity: 100%;
    z-index: 1;

}
.modal{
    position: fixed;
    margin: 20px;
    width: 80%;
    height: 400px;
    padding: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    z-index: 2;
}
.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: silver;
    border: 1px solid black;
}
.modal-body{
    background-color: whitesmoke;
}