.clockHolder
{
    margin: 0;  
    position: relative;
    background-color: lightskyblue;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
.data{
    
    position: absolute;
    transform-origin: bottom center;
    width: 350px;
    height: 350px;
}
#hours{
    height: 170px;
    left: 50%;
    background-color: black;
    width: 5px;
}
#mins{
    height: 170px;
    left: 50%;
    background-color: red;
    width: 5px;
}
#seconds{
    height: 170px;
    left: 50%;
    background-color: white ;
    width: 5px;
}